.text1{
    width: 350px;
    height: 160px;
    margin-top: 15px;
    margin-left: 3px;
    text-align: center;
    font-weight: 400;
    color: #777777;
}

.text2{
    text-align: center;
    color: #001AFF;
    font-weight: 700;
}
.text3{
    width: 350px;
    height: 160px;
    margin-left: 72px;
    color: #FF0000;
    text-align: justify;
    font-size: 16px;
    line-height: 19.36px;
}